@import "vendor/ladda.min.css";
@import "vendor/ladda-themeless.min.css";
body {
  padding: 0 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
h1 {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.start h1 {
  line-height: 140%;
  margin: 0;
  height: 1.4em;
  padding-bottom: .6em;
  margin-top: 20%;
  opacity: 1;
}
.loading .loader {
  opacity: 1;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.request:before,
.request:after {
  content: " ";
  display: table;
}
.request:after {
  clear: both;
}
.request__input {
  position: relative;
  display: inline-block;
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-size: 15px;
  line-height: 140%;
  padding: 8px 12px;
  height: 42px;
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  margin-left: -2px;
  width: 50%;
  -webkit-transition: border 0.25s linear;
  transition: border 0.25s linear;
}
.request__input:focus {
  z-index: 1;
  border-color: #1abc9c;
  outline: 0;
  box-shadow: none;
}
.request__input.error {
  color: #e74c3c;
  border-color: #e74c3c;
}
.request__input1 {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.request__input2 {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
.request__pane {
  float: left;
  width: 100%;
  margin-right: -120px;
  box-sizing: border-box;
  padding-right: 116px;
}
.request__go {
  float: right;
  width: 120px;
  height: 42px;
  line-height: 42px;
  padding: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.request__go:focus {
  outline: none;
}
.request__error {
  width: 100%;
  font-size: 14px;
  color: #e74c3c;
  height: 16px;
  line-height: 140%;
  padding-left: 12px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.request__error.show {
  opacity: 1;
}
.result {
  font-size: 14px;
}
.loading .result {
  opacity: .5;
}
.result table {
  border-spacing: 0;
}
.result th {
  text-align: left;
  vertical-align: top;
  width: 20%;
  padding: 9px 25px;
}
.result tr td {
  border-bottom: 1px solid #eef0f0;
  padding: 9px 25px;
  width: 40%;
}
.result tbody tr:hover td,
.result tbody tr:hover th {
  background: #f9fafb;
}
.result .name {
  font-weight: bold;
  display: block;
}
.result .price {
  color: green;
}
